<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gem Count Viewer</title>
    <%- include('style') %>
</head>

<body>
    <div>
        <h2>
            Gem Count
        </h2>
        <p>
            <image src="https://help.supercellsupport.com/uploads/bs-payments.png"></image>
            <h3><%= gems %></h3>
        </p>

        <% if(!isNaN(parseInt(gems)) && parseInt(gems) > 1000) { %>
            <p>Welcome to the cool kids' club! The flag is <%= flag %> </p>
        <% } else { %>
            <p>You don't have enough gems for the cool kids' club </p>
        <% } %>
    </div>
</body>

</html>