<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tài khoản</title>
    <%- include('style') %>
</head>

<body>
    <div>
        <h2>
            Số đá quý
        </h2>
        <p>
            <image src="https://help.supercellsupport.com/uploads/bs-payments.png"></image>
            <h3><%= gems %></h3>
        </p>

        <% if(!isNaN(parseInt(gems)) && parseInt(gems) > 1000) { %>
            <p>Chúc mừng bạn, bạn quá may mắn. Đây là cờ của bạn: <b><%= flag %></b></p>
        <% } else { %>
            <p>Bạn chưa đủ may mắn, lần sau nhé.</p>
        <% } %>
    </div>
</body>

</html>