<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>May mắn</title>
    <%- include('style') %>
</head>

<body>
    <h1>Trang chủ</h1>
    <p>Sự may mắn của bạn đến đâu? Nó sẽ quyết định vị trí của bạn ở trong hệ thống của chúng tôi !!!</p>
    <div style="padding: 10px 0;"><a href='/login'>Đăng nhập</a></div>
    <div style="padding: 10px 0;"><a href='/register'>Đăng ký</a></div>
    <div style="padding: 10px 0;"><a href="/source">Mã nguồn</a></div>
</body>

</html>